* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "EB Garamond", serif;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  background-color: #131010;
}
::-webkit-scrollbar-thumb {
  background-color: #471e00;
}
/*header start*/

.header__flex {
  padding: 0 20px;
  background: #131010;
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link__flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.menu-link:hover {
  font-weight: 700;
}
.header__te-flex {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.te-link {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
/*header end*/
/* welcome start*/
.welcome {
  background-image: url(img/img.png);
  width: 100%;
  background-size: cover;
  height: 506px;
}
h1 {
  position: absolute;
  width: 100%;
  top: 25vh;
  color: #fff;
  text-align: center;
  font-family: Garamond;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
}
.welcome-p {
  left: 63vh;
  position: absolute;
  margin-top: 153px;
  width: 600px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
}
.welcome__order {
  position: absolute;
  top: 60vh;
  left: 41vw;
  width: 242px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}

/* welcome end*/

/*company (values start)*/
.values {
  padding: 0 100px;
  width: 100%;
  height: 409px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.values__h {
  color: #131010;
  font-family: Garamond;
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.values__block-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.values__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.values__text {
  color: #131010;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
/*values end*/

/*materials  start*/
.materials {
  width: 100%;
  height: 536px;
  background: #201a1a;
  padding: 80px 289px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
h3 {
  width: 351px;
  color: #fff;
  font-kerning: none;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.materials__h {
  width: 294px;
}
span {
  color: #fff;
  font-kerning: none;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Open Sans;
  font-weight: 700;
  text-decoration-line: underline;
}
.block-img {
  border-radius: 50%;
}
figcaption {
  width: 145px;
  height: 84px;
  margin-left: 15px;
  margin-top: -120px;
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}
/*materials  end*/

/*production start*/
.production {
  width: 100%;
  height: 1449px;
  background: #201a1a;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.production__h {
  width: 1180px;
  text-align: left;
  color: #fffcf4;
  font-family: Garamond;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 0;
}
.production__block-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 40px;
}
.production-block {
  width: 1180px;
  height: 376px;
  background: #fffcf4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.production__p {
  padding: 0 35px;
  color: #131010;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
/*production end*/

/*application start*/
.application {
  height: 881px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
}
.application__block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
}
.application__block-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-p {
  color: #131010;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-inp {
  width: 547px;
  height: 44px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-review {
  width: 547px;
  height: 147px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.application__btn {
  width: 174px;
  height: 55px;
  background-color: #131010;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
/*application end*/

/*footer start*/
footer {
  width: 100%;
  height: 435px;
  background: #131010;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__menu-link__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.contacts__p {
  width: 277px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}
.search {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: end;
}
/*footer end*/
@media (max-width: 1300px) {
  .application__img {
    display: none;
  }
  .application {
    justify-content: center;
  }
  .application__block-text {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .materials {
    padding: 80px 109px;
  }
  .production-block {
    width: 980px;
  }
  .production__p {
    font-size: 15px;
  }
  .production__h {
    width: auto;
  }
}
@media (max-width: 1030px) {
  .welcome__order {
    left: 38vw;
  }
}
@media (max-width: 990px) {
  .production-block {
    height: 596px;
    flex-direction: column;
    width: 514px;
  }
  .production {
    height: 2049px;
    justify-content: space-around;
  }
  .welcome-p {
    left: 43vh;
  }
}
@media (max-width: 950px) {
  .header__menu-link__flex {
    display: none;
  }
}
@media (max-width: 949px) {
  .header__active {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #131010;
    margin-top: 40px;
  }
  .menu-link:hover {
    font-size: 16px;
    font-weight: 700;
  }
  .menu-icon {
    display: block;
    border: none;
    width: 40px;
    height: 30px;
    position: relative;
    background-color: #131010;
  }
  .menu-icon__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
  .menu-icon::after,
  .menu-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  .menu-icon::after {
    bottom: 0;
    transition: transform 0.2s, bottom 0.2s 0.2s;
  }
  .menu-icon::before {
    top: 0;
    transition: transform 0.2s, top 0.2s 0.2s;
  }
  .menu-icon-active .menu-icon__line {
    background-color: transparent;
  }
  .menu-icon-active::before {
    transform: rotate(45deg);
    top: 45%;
    transition: top 0.2s, transform 0.2s 0.2s;
  }
  .menu-icon-active::after {
    transform: rotate(-45deg);
    bottom: 45%;
    transition: bottom 0.2s, transform 0.2s 0.2s;
  }
}
@media (max-width: 880px) {
  .values__block-flex {
    margin-left: 120px;
    align-items: flex-start;
    flex-direction: column;
  }
  .values {
    height: 559px;
  }
  .values__block {
    flex-direction: row;
  }
  .values__text {
    text-align: left;
  }

  .materials {
    height: 636px;
  }
  .welcome-p {
    left: 34vh;
  }
}
@media (max-width: 800px) {
  .welcome-p {
    left: 12vw;
  }
  .values__block-flex {
    margin-left: 90px;
  }
  .production-block {
    width: 512px;
  }
  .welcome__order {
    left: 35vw;
  }
}
@media (max-width: 700px) {
  .welcome__order {
    left: 32vw;
  }
  .welcome-p {
    left: 7vw;
  }
  .values__block-flex {
    margin-left: 40px;
  }
}
@media (max-width: 660px) {
  .welcome-p {
    left: 0;
    width: auto;
    font-size: 20px;
    line-height: 30px;
  }
  .welcome__order {
    left: 30vw;
  }
  .materials {
    height: 836px;
  }
  .production__img {
    width: 400px;
  }
  .production-block {
    width: 400px;
  }
  .form-inp {
    width: 347px;
  }
  .application__block-form {
    align-items: center;
  }
  .form-review {
    width: 347px;
  }
  .form-p {
    text-align: center;
  }
  .footer__logo {
    display: none;
  }
  .contacts__p {
    width: 177px;
  }
}
@media (max-width: 590px) {
  .materials {
    height: 1236px;
  }
}
@media (max-width: 530px) {
  .welcome__order {
    left: 26vw;
  }
}
@media (max-width: 480px) {
  .values__block-flex {
    margin-left: 10px;
  }
  .materials {
    padding: 80px 69px;
  }
}
@media (max-width: 450px) {
  .welcome__order {
    left: 23vw;
  }
  .production__img {
    width: 300px;
  }
  .production-block {
    width: 300px;
  }
  .production-block {
    height: 666px;
  }
  .production {
    height: 2249px;
  }
  .welcome__order {
    top: 70vh;
  }
  .values {
    padding: 0;
  }
}
@media (max-width: 390px) {
  h1 {
    font-size: 38px;
  }
  .materials {
    padding: 80px 39px;
  }
  .welcome__order {
    left: 17vw;
  }
}
