* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "EB Garamond", serif;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  background-color: #131010;
}
::-webkit-scrollbar-thumb {
  background-color: #471e00;
}
.logo-call {
  width: 24px;
  height: 28px;
  margin-top: 10px;
}
.menu-icon {
  display: none;
}
/*header start*/

.header__flex {
  padding: 0 20px;
  background: #131010;
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link__flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.menu-link:hover {
  font-weight: 700;
}
.header__te-flex {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.te-link {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
/*header end*/

/* welcome start*/
.welcome {
  background-image: url(img/img.png);
  width: 100%;
  background-size: cover;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  position: absolute;
  width: 100%;
  top: 37vh;
  color: #fff;
  text-align: center;
  font-family: Garamond;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
}
.welcome-p {
  left: 63vh;
  position: absolute;
  margin-top: 163px;
  width: 600px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
}
.welcome-btn {
  position: absolute;
  margin-top: 265px;
}

/* welcome end*/

/*address start*/
.address {
  width: 100%;
  height: 390px;
  background-color: #211c1c;
  padding: 80px 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.block__social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}
.call-a,
.mail-link {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.block__address-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.adress-p {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
.warning-p {
  width: 672px;
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}
/*address end*/

/*application start*/
.application {
  height: 881px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
}
.application__block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
}
.application__block-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-p {
  color: #131010;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-inp {
  width: 547px;
  height: 44px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-review {
  width: 547px;
  height: 147px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.application__btn {
  width: 174px;
  height: 55px;
  background-color: #131010;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
/*application end*/

/*footer start*/
footer {
  width: 100%;
  height: 435px;
  background: #131010;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__menu-link__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.contacts__p {
  width: 277px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}
.search {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: end;
}
/*footer end*/

@media (max-width: 1329px) {
  .application__img {
    display: none;
  }
  .application {
    justify-content: center;
  }
}
@media (max-width: 1177px) {
  .address {
    padding: 80px 30px;
  }
}
@media (max-width: 966px) {
  .address {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 933px) {
  .header__menu-link__flex {
    display: none;
  }
}
@media (max-width: 932px) {
  .header__active {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #131010;
    margin-top: 40px;
  }
  .menu-link:hover {
    font-size: 16px;
    font-weight: 700;
  }
  .menu-icon {
    display: block;
    border: none;
    width: 40px;
    height: 30px;
    position: relative;
    background-color: #131010;
  }
  .menu-icon__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
  .menu-icon::after,
  .menu-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  .menu-icon::after {
    bottom: 0;
    transition: transform 0.2s, bottom 0.2s 0.2s;
  }
  .menu-icon::before {
    top: 0;
    transition: transform 0.2s, top 0.2s 0.2s;
  }
  .menu-icon-active .menu-icon__line {
    background-color: transparent;
  }
  .menu-icon-active::before {
    transform: rotate(45deg);
    top: 45%;
    transition: top 0.2s, transform 0.2s 0.2s;
  }
  .menu-icon-active::after {
    transform: rotate(-45deg);
    bottom: 45%;
    transition: bottom 0.2s, transform 0.2s 0.2s;
  }
}
@media (max-width: 707px) {
  .warning-p {
    width: auto;
  }
  .adress-p {
    width: auto;
  }
}
@media (max-width: 557px) {
  .form-inp {
    width: 300px;
  }
  .form-review {
    width: 300px;
  }
  .application__block-text {
    align-items: center;
  }
  .application__block-form {
    align-items: center;
  }
  .form-p {
    text-align: center;
    width: auto;
  }
  .footer__logo {
    display: none;
  }
  .contacts__p {
    width: 177px;
  }
  .address {
    height: 450px;
  }
}
