* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "EB Garamond", serif;
    font-family: "Open Sans", sans-serif;
  }
  
  ::-webkit-scrollbar{
    background-color: #131010;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #471e00;
  }
  /*header start*/
  
  .header__flex {
    padding: 0 20px;
    background: #131010;
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu-link__flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style: none;
  }
  .menu-link {
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .menu-link:hover {
    font-weight: 700;
  }
  .header__te-flex {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .te-link {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
  /*header end*/

  /* welcome start*/
.welcome {
    background-image: url(img/company-welcom.png);
    width: 100%;
    background-size: cover;
    height: 506px;
  }
  h1 {
    position: absolute;
    width: 100%;
    top: 37vh;
    color: #fff;
    text-align: center;
    font-family: Garamond;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
  }
  .welcome-p {
    left: 63vh;
    position: absolute;
    margin-top: 163px;
    width: 600px;
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
  }
  .welcome-btn {
    position: absolute;
    margin-top: 265px;
    margin-left: 750px;
  }
  
  /* welcome end*/


  /*reviews start*/
  .reviews {
    width: 100%;
    height: 2166px;
    background-color: #272121;
    display: flex;
padding: 80px 129px;
align-items: center;
}
.reviews__block-flex{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.block-coll-one, .block-coll-two{
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
}
.reviews__img {
    background-size: cover;
}
/*reviews end*/

/*footer start*/
footer {
    width: 100%;
    height: 435px;
    background: #131010;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  .footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__menu-link__flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  .contacts__p {
    width: 277px;
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
  }
  .search {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: end;
  }
  /*footer end*/
  