* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "EB Garamond", serif;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  background-color: #131010;
}
::-webkit-scrollbar-thumb {
  background-color: #471e00;
}
/*header start*/
.logo-call {
  width: 24px;
  height: 28px;
  margin-top: 10px;
}
.menu-icon {
  display: none;
}
.header__flex {
  padding: 0 20px;
  background: #131010;
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link__flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.menu-link:hover {
  font-weight: 700;
}
.header__te-flex {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.te-link {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
/*header end*/

/* welcome start*/
.welcome {
  background-image: url(img/header1\ 1.png);
  width: 100%;
  background-size: cover;
  height: 506px;
}
h1 {
  position: absolute;
  top: 50vh;
  color: #fff;
  text-align: center;
  font-family: Garamond;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
}
.welcome__order {
  position: absolute;
  top: 90vh;
  left: 41vw;
  width: 242px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}

/* welcome end*/

/*description start*/
.description {
  background-color: #fff;
  width: 100%;
  height: 439px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h2 {
  color: #131010;
  font-family: Garamond;
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.description__p {
  width: auto;
  color: #131010;
  text-align: justify;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
.description__block-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.block {
  display: flex;
  flex-direction: column;
}
.block__nom {
  color: #131010;
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
}
.block__text {
  color: #131010;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}
.more-details {
  width: 226px;
  height: 55px;
  border: 1px solid #201a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #201a1a;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}
/*description end*/

/*values start*/
.values {
  padding: 0 100px;
  background-color: #131010;
  width: 100%;
  height: 409px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.values__h {
  color: #fff;
}
.values__block-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.values__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.values__text {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
/*values end*/

/*works start*/
.works {
  width: 100%;
  height: 821px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.works__block-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.works__btn {
  width: 294px;
  height: 55px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #201a1a;
  color: #201a1a;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.works__block-grid {
  margin-left: 10vw;
  width: 700px;
  height: 580px;
  display: grid;
  gap: 19px;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "works__panels works__panels works__wardrobe works__cabinets"
    "works__bedrooms works__childrenы-rooms works__kitchen-sets works__cabinets";
}
.works__img {
  height: 100%;
  object-fit: cover;
  background: rgba(19, 16, 16, 0.563);
}
.works__p {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.works__panels {
  grid-area: works__panels;
  position: relative;
}

.works__wardrobe {
  grid-area: works__wardrobe;
  position: relative;
}
.works__cabinets {
  grid-area: works__cabinets;
  position: relative;
}
.works__bedrooms {
  grid-area: works__bedrooms;
  position: relative;
}
.works__childrenы-rooms {
  grid-area: works__childrenы-rooms;
  position: relative;
}
.works__kitchen-sets {
  grid-area: works__kitchen-sets;
  position: relative;
}
/*works start*/

/*creation start*/
.creation {
  padding: 0 100px;
  width: 100%;
  height: 578px;
  background-color: #131010;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.creation__block-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.creation__block {
  width: 220px;
  height: 309px;
  background: #fffcf4;
}
.creation-p {
  color: #131010;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
/*creation end*/

/*cooperation start*/
.cooperation {
  width: 100%;
  height: 897px;
  background: #fff;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cooperation__block-flex {
  margin-left: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}
.cooperation__block {
  display: flex;
  width: 260px;
  height: 312px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border: 1px solid #201a1a;
}
.block-nomber {
  color: #201a1a;
  font-family: Garamond;
  font-size: 48px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.block-h {
  color: #201a1a;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}
.block-p {
  color: #201a1a;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/*cooperation end*/

/*questions start*/
.questions {
  width: 100%;
  height: 408px;
  background-color: #131010;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questions__block-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.question__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 579px;
  height: 80px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.question__p {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.answer__block {
  position: absolute;
  margin-top: 70px;
  z-index: 2;
  width: 579px;
  background-color: #131010;
  border-bottom: 1px solid #fff;
}
.answer__p {
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.question__btn {
  cursor: pointer;
}
.answer__btn {
  transform: rotate(45deg);
}
/*questions end*/

/*application start*/
.application {
  height: 881px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
}
.application__block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
}
.application__block-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-p {
  color: #131010;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-inp {
  width: 547px;
  height: 44px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-review {
  width: 547px;
  height: 147px;
  border: 1px solid #131010;
  color: #938f96;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.application__btn {
  width: 174px;
  height: 55px;
  background-color: #131010;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffcf4;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
/*application end*/

/*footer start*/
footer {
  width: 100%;
  height: 435px;
  background: #131010;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__menu-link__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.contacts__p {
  width: 277px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}
.search {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: end;
}
/*footer end*/

@media (max-width: 1320px) {
  .works__block-grid {
    margin-left: 4vw;
  }
}
@media (max-width: 1256px) {
  .works__block-grid {
    margin-left: 2.3vw;
  }
}
@media (max-width: 1237px) {
  .works__block-grid {
    margin-left: 1vw;
  }
}
@media (max-width: 1207px) {
  .works__block-grid {
    margin-left: 6vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
    width: auto;
    height: 560px;
  }
  .works__img {
    width: 250px;
    height: 250px;
  }
  .application__img {
    display: none;
  }
  .application {
    justify-content: center;
  }
  .works {
    height: 721px;
  }
  .questions {
    align-items: center;
    height: 708px;
  }
  .questions__block-flex {
    justify-content: center;
  }
}
@media (max-width: 1130px) {
  .works__block-grid {
    margin-left: 1vw;
    justify-content: center;
  }
  .cooperation__block-flex {
    gap: 16px;
    margin-left: 0;
  }
  .cooperation {
    height: 1197px;
  }
}
@media (max-width: 1057px) {
  .header__menu-link__flex {
    display: none;
  }
}
@media (max-width: 1056px) {
  .header__active {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #131010;
    margin-top: 40px;
  }
  .menu-link:hover {
    font-size: 16px;
    font-weight: 700;
  }
  .menu-icon {
    display: block;
    border: none;
    width: 40px;
    height: 30px;
    position: relative;
    background-color: #131010;
  }
  .menu-icon__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
  .menu-icon::after,
  .menu-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  .menu-icon::after {
    bottom: 0;
    transition: transform 0.2s, bottom 0.2s 0.2s;
  }
  .menu-icon::before {
    top: 0;
    transition: transform 0.2s, top 0.2s 0.2s;
  }
  .menu-icon-active .menu-icon__line {
    background-color: transparent;
  }
  .menu-icon-active::before {
    transform: rotate(45deg);
    top: 45%;
    transition: top 0.2s, transform 0.2s 0.2s;
  }
  .menu-icon-active::after {
    transform: rotate(-45deg);
    bottom: 45%;
    transition: bottom 0.2s, transform 0.2s 0.2s;
  }
}
